build
*.iml
**/**.iml
*.ipr
dist
target
**/*.releaseBackup
*.releaseBackup
**/*.versionsBackup
*.versionsBackup
release.properties
*/.classpath
*/.project
*/.settings
*/bin
.project
.settings
.DS_Store
tags
