
	.left-link { 
    display: none;
	}
	
	.right-link {
    display: none;
	}
	
	body {
		background: white;
		padding: 20px;
		border: 1px solid #c0c0ff;
		margin: 10px;
		
		}
		
	html {
		background: #efefff; 
	}

