<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/flying-saucer-demo"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/flying-saucer-demos/svg/src/java/org/xhtmlrenderer/demo/svg/ShowSVGPage.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.xhtmlrenderer.demo.svg.ShowSVGPage"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="flying-saucer-demos"/>
</launchConfiguration>
