#fs h1, #fs h2 {
	background: #FFFFFF left top;
	border-top: 0px none #000000;
	border-right: 0px none #000000;
	border-bottom: 1px solid #000000;
	border-left: 0px none #000000;
	margin-top: 30px;
	padding-bottom: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding-top: 15px;
	padding-left: 15px;
	color: #1777A4;
	word-spacing: normal;
	letter-spacing: normal;
	font-style: italic;
}
body, #fs {
	background: #FFFFFF;
	margin-right: 20px;
	margin-left: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#fs a {
	color: #0000FF;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}
#fs a:hover {
	color: #FFFFFF;
	background-color: #3366FF;
}
#fs a:link, #fs a:visited, #fs a:hover, #fs a:active {
	color:#0000ff;
	}
#fs #menu li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	display: inline;
	border: 0px none #000000;
	margin: 0px;
	padding: 4px;
	background: transparent;
	font-size: medium;
	vertical-align: top;
}
#fs ul#menu {
	background: #1777A4;
	background: #FFFFFF url(images/scanbg.gif) left top;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px none;
	border-right: 1px none;
	border-bottom: 1px solid;
	border-left: 1px none;
}
#fs #menu a {
	color: #FFFFFF;
	padding: 5px;
	border: 1px none;
}
#fs #menu a:hover {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #000000;
}
#fs #menu a:visited {
	color:#ffffFF;
	}
#fs #menu img {
	padding: 3px;
	vertical-align:middle;
	background-color: white;
	margin: 3px;
	border: 1px solid black;
	}
#fs #menu li:first-child a {
	margin-left: 43px;
	}
	
code {
	color: #3300FF;
	font-weight: bold;
}
pre {
	border: 1px dotted #FFCC00;
	background: #FFFFCC;
	margin: 10px;
	padding: 6px;
}
.invalid {text-decoration: line-through;}
