#fs h1, #fs h2 {
	background: #FFFFFF url(images/scanbg.gif) left top;
	border-top: 0px none #000000;
	border-right: 0px none #000000;
	border-bottom: 1px solid #000000;
	border-left: 0px none #000000;
	margin-top: 30px;
	padding-bottom: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding-top: 15px;
	padding-left: 15px;
	color: #FFFFFF;
	word-spacing: normal;
	letter-spacing: normal;
}
body, #fs {
	background: #FFFFFF;
	margin-right: 20px;
	margin-left: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#fs a {
	color: #0000FF;
	text-decoration: none;
}
#fs a:hover {
	color: #FFFFFF;
	background: #0099FF;
}
#fs #menu li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	display: inline;
	border: 0px none #000000;
	margin: 0px;
	padding: 5px;
	background: transparent;
	font-size: medium;
}
#fs ul#menu {
	background: #1777A4;
	background: #FFFFFF url(images/scanbg.gif) left top;
	padding: 10px;
}
#fs #menu a {
	color: #FFFFFF;
	padding: 5px;
	border: 1px none;
}
#fs #menu a:hover {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #000000;
}
#fs #menu a:visited {
	color:#0099FF;
	}
