#toc {
  page-break-before: always; 
  font-size: 18pt; 
  text-align: center;
}
#footer {
  display: block;
  position: running(footer)
}
h2 {
  page-break-before: always;
}
h3, h4 {
  page-break-after: avoid;
}
.printOnly {
  display: block;
}
body { 
  margin: 0; 
  padding: 0; 
}
a:link {
  text-decoration: none;
  color: black;
}
div #menu {
  display: none;
}
#pagenumber:before {
  content: counter(page); 
}
#pagecount:before {
  content: counter(pages);
}
@page {
  size: A4;
  margin: 1in .75in 1in .75in;
  padding: 0.25in;
  @bottom-left {
    content: element(footer);
  }
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
}
@page :first {
  border: thin solid black;
  @bottom-left {
    content: "";
  }
  @bottom-right {
    content: "";
  }
}

