<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/flying-saucer-examples/src/main/java/org/xhtmlrenderer/demo/browser/BrowserStartup.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.xhtmlrenderer.demo.browser.BrowserStartup"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="flying-saucer-examples"/>
</launchConfiguration>
